<h2>You need to setup OAUTH</h2>

<ol>
  {{#if herokuApp}}
    <li>
      Setup an OAUTH on Salesforce:
      <ol>
        <li><a href="https://login.salesforce.com/app/mgmt/forceconnectedapps/forceAppEdit.apexp">Create a new Connected App on Salesforce</a></li>
        <li>Fill in the <em>Connected App Name</em>, <em>API Name</em>, and <em>Contact Email</em> fields.</li>
        <li>Select <em>Enable OAuth Settings</em> and enter the following <em>Callback URLs</em>: <pre><code>{{oauthCallbackUrl}}
http://localhost:5000</code></pre></li>
        <li>Select <em>Full access (full)</em> from the list of OAuth Scopes and click <em>Add</em></li>
        <li>Click <em>Save</em> and them <em>Continue</em> to complete the creation of the new Connected App</li>
      </ol>
    </li>
  {{/if}}
  <li>
    {{#if herokuApp}}
      Set the <em>Consumer Key</em> and <em>Consumer Secret</em> values in your Heroku app's config:
      <ol>
        <li><a href="https://dashboard.heroku.com/apps/{{herokuApp}}/settings" target="_blank">Open your app's settings</a></li>
        <li>Click <em>Reveal Config Vars</em></li>
        <li>Add a new config var named <code>CONSUMER_KEY</code> with the value of your Connected App's Consumer Key</li>
        <li>Add a new config var named <code>CONSUMER_SECRET</code> with the value of your Connected App's Consumer Secret</li>
      </ol>
    {{/if}}
    {{#if isLocal}}
      Create a new <code>.env</code> file in the root of your project directory containing the following with your newly created <em>Consumer Key</em> and <em>Consumer Secret</em> values:
      <pre><code># DO NOT SHARE THIS FILE OR PUT IT INTO YOUR SCM
CONSUMER_KEY=YOUR_CONSUMER_KEY
CONSUMER_SECRET=YOUR_CONSUMER_SECRET</code></pre>
    {{/if}}
  </li>
  <li>
    Refresh this page
  </li>
</ol>
